body {
  background-color: rgb(242, 242, 242);
}

h1 {
  text-align: center;
  color: aliceblue;
  -webkit-text-stroke: 3px black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 4rem;
  font-weight: 800;
}
#spacer {
  padding: 1.5rem 2.5rem;
  text-align: center;
}
#tombola {
  box-sizing: border-box;
  padding: 0 5rem;
  text-align: center;
  background-color: red;
  border: 3px solid black;
  border-radius: 20px;
  padding: 3px 0 23px;
  box-shadow: 15px 15px 15px #9e9e9e;
}
#input {
  text-align: center;
  margin-bottom: 1rem;
}
#input h1 {
  cursor: pointer;
  color: red;
  font-size: 8rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bolder;
  margin: 0;
}
.casella {
  text-align: center;
  width: 9%;
  display: inline-block;
  border: 2px solid;
  border-radius: 15px;
  background-color: aliceblue;
}
input[type="text"] {
  border: 0;
  margin-top: 1rem;
  background-color: rgb(242, 242, 242);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 2.5rem;
  line-height: 1.65rem;
  text-align: center;
}

input[type="text"]:focus {
  outline: none;
  color: #4a4848;
}
input[type="text"]:hover {
  background-color: #ffffffee;
}
button {
  background-color: rgb(255, 230, 156);
  color: aliceblue;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 800;
  font-size: 2rem;
  -webkit-text-stroke: 1px black;
  padding: 0.6rem 0.9em;
  margin: 0;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
  width: 200px;
  height: 100px;
}
#player {
  padding: 10px;
  margin: auto;
  max-width: 60%;
}
.player {
  width: 19%;
}
.selected {
  background-color: rgb(255, 230, 156);
}
.container {
  margin-bottom: 1rem;
  box-sizing: border-box;
  text-align: center;
  background-color: red;
  border: 3px solid black;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 10px 10px 15px #9e9e9e;
  max-width: 800px;
}
footer {
  margin-top: 5rem;
}
